/* ==========================================================================
   Container
   ========================================================================== */

/**
 * Container (contain padding => max width)
 */

.Container {
	@if $oldie {
		// Fixed width for oldies
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
	@else {
		padding-right: $contain-percentage;
		padding-left: $contain-percentage;
	}
}
