// --------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------

// Base (default) colors
// --------------------------------------------------------------------------

$color-pitch-black:             rgb(0,0,0);
$color-snow-white:              rgb(255,255,255);

$color-base-black:              rgb(20,20,20);
$color-base-white:              rgb(254,254,254);

$color-base-gray:               rgb(127,129,132);

$color-base-blue:               rgb(24,16,248);
$color-base-green:              rgb(72,136,16);
$color-base-red:                rgb(216,8,16);
$color-base-yellow:             rgb(248,240,8);
$color-base-orange:             rgb(248,104,8);

$color-base-banana:             rgb(255,255,102);
$color-base-carnation:          rgb(255,111,207);
$color-base-maroon:             rgb(128,0,64);
$color-base-mocha:              rgb(128,64,0);
$color-base-moss:               rgb(0,128,64);
$color-base-plum:               rgb(128,0,128);
$color-base-salmon:             rgb(255,102,102);
$color-base-sky:                rgb(102,204,255);
$color-base-tangerine:          rgb(255,128,0);


// Palette (based) colors
// --------------------------------------------------------------------------
// At a minimum every palette defines a `base` colour, a `light` and `dark`
// version. Then optionally add tones that use the following naming pattern:
// - base (the default)
// - quiet (add occasionally a very light color, e.g. for fill backgrounds)
// - loud (add occasionally a very dark color, e.g. for alert colors)
// - light
// - m-light
// - x-light
// - dark
// - m-dark
// - x-dark

$palettes: (
	gray: (
		base:    $color-base-gray,
		quiet:   tint($color-base-gray, 96%),
		loud:    shade($color-base-gray, 96%),
		light:   tint($color-base-gray, 32%),
		m-light: tint($color-base-gray, 56%),
		x-light: tint($color-base-gray, 88%),
		dark:    shade($color-base-gray, 32%),
		m-dark:  shade($color-base-gray, 56%),
		x-dark:  shade($color-base-gray, 88%),
	),
	blue: (
		base:    $color-base-blue,
		quiet:   tint($color-base-blue, 88%),
		light:   tint($color-base-blue, 32%),
		m-light:   tint($color-base-blue, 56%),
		dark:    shade($color-base-blue, 32%),
	),
	green: (
		base:    $color-base-green,
		quiet:   tint($color-base-green, 88%),
		light:   tint($color-base-green, 32%),
		dark:    shade($color-base-green, 32%),
	),
	red: (
		base:    $color-base-red,
		quiet:   tint($color-base-red, 88%),
		light:   tint($color-base-red, 32%),
		dark:    shade($color-base-red, 32%),
	),
	yellow: (
		base:    $color-base-yellow,
		quiet:   tint($color-base-yellow, 88%),
		light:   tint($color-base-yellow, 32%),
		dark:    shade($color-base-yellow, 32%),
	),
	orange: (
		base:    $color-base-orange,
		quiet:   tint($color-base-orange, 88%),
		light:   tint($color-base-orange, 32%),
		dark:    shade($color-base-orange, 32%),
	),
	tangerine: (
		base:    $color-base-tangerine,
		quiet:   tint($color-base-tangerine, 88%),
		light:   tint($color-base-tangerine, 32%),
		dark:    shade($color-base-tangerine, 32%),
	),
);

// Gradients
// --------------------------------------------------------------------------

$gradients: (
	saturated: (
		$color-base-red 0%,                                                     // Gradient color + color stop 1
		$color-base-blue 32%,                                                   // Gradient color + color stop 2
		$color-base-yellow 48%,                                                 // etc.
		$color-base-green 100%,
	),
	pastel: (
		palette(red, quiet) 0%,                                                 // Gradient color + color stop 1
		palette(blue, quiet) 32%,                                               // Gradient color + color stop 2
		palette(yellow, quiet) 48%,                                             // etc.
		palette(green, quiet) 100%,
	),
);


// Stripes
// --------------------------------------------------------------------------

$stripes: (
	rainbow: (
		rgb(36,146,231),                                                        // Striped color 1
		rgb(13,21,29),                                                          // Striped color 1
		rgb(36,146,231),                                                        // etc.
		rgb(77,112,19),
		rgb(254,254,83),
		rgb(36,146,231),
		rgb(200,236,146),
		rgb(36,146,231),
		rgb(254,254,83),
		rgb(13,21,29),
		rgb(36,146,231),
	),
);
