// --------------------------------------------------------------------------
// Type scale
// --------------------------------------------------------------------------

// Defaults
// --------------------------------------------------------------------------

$ms-ratio:                      $augmented-fourth;
$ms-ratio-alt:                  $golden;
$important-number:              12px;

// Modular scale
// --------------------------------------------------------------------------

// $ms-up1: $base-font-size        * $ms-ratio;
// $ms-up2: $ms-up1                * $ms-ratio;
// $ms-up3: $ms-up2                * $ms-ratio;
// $ms-up4: $ms-up3                * $ms-ratio;
// $ms-up5: $ms-up4                * $ms-ratio;
// $ms-up6: $ms-up5                * $ms-ratio;
// $ms-up7: $ms-up6                * $ms-ratio;
// $ms-up8: $ms-up7                * $ms-ratio;

// $ms-down1: $base-font-size      / $ms-ratio;
// $ms-down2: $ms-down1            / $ms-ratio;
// $ms-down3: $ms-down2            / $ms-ratio;

// Multiple ratio scale
// --------------------------------------------------------------------------

$ms-up1: $base-font-size        * $ms-ratio;
$ms-up2: $base-font-size        * $ms-ratio-alt;
$ms-up3: $ms-up1                * $ms-ratio;
$ms-up4: $ms-up2                * $ms-ratio-alt;
$ms-up5: $ms-up3                * $ms-ratio;
$ms-up6: $ms-up4                * $ms-ratio-alt;
$ms-up7: $ms-up5                * $ms-ratio;
$ms-up8: $ms-up6                * $ms-ratio-alt;

$ms-down1: $base-font-size      / $ms-ratio;
$ms-down2: $ms-down1            / $ms-ratio;
$ms-down3: $ms-down2            / $ms-ratio;

// Multiple number (size) scale
// --------------------------------------------------------------------------

// $ms-up1: $important-number      * $ms-ratio;
// $ms-up2: $base-font-size        * $ms-ratio;
// $ms-up3: $ms-up1                * $ms-ratio;
// $ms-up4: $ms-up2                * $ms-ratio;
// $ms-up5: $ms-up3                * $ms-ratio;
// $ms-up6: $ms-up4                * $ms-ratio;
// $ms-up7: $ms-up5                * $ms-ratio;
// $ms-up8: $ms-up6                * $ms-ratio;

// $ms-down1: $base-font-size      / $ms-ratio;
// $ms-down2: $ms-down1            / $ms-ratio;
// $ms-down3: $ms-down2            / $ms-ratio;

// Typeplate scale (http://typeplate.com)
// --------------------------------------------------------------------------

// $ms-up1: $base-font-size        * 1.1667;
// $ms-up2: $base-font-size        * 1.3333;
// $ms-up3: $base-font-size        * 2;
// $ms-up4: $base-font-size        * 2.6667;
// $ms-up5: $base-font-size        * 3.3333;
// $ms-up6: $base-font-size        * 4;
// $ms-up7: $base-font-size        * 5;
// $ms-up8: $base-font-size        * 6.5;

// $ms-down1: $base-font-size      / 1.1667;
// $ms-down2: $base-font-size      / 1.3333;
// $ms-down3: $base-font-size      / 2;
