/* ==========================================================================
   Contain(er) utilities
   ========================================================================== */

/**
 * Container (contain padding => max width)
 */

.u-container,
%u-container {
	@if $oldie {
		// Fixed width for oldies
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
	@else {
		padding-right: $contain-offset;
		padding-left: $contain-offset;

		// Only output for first match (count)!
		$count: 1;
		@each $breakpoint in $breakpoints {
			$name: nth($breakpoint, 1);
			$query: nth($breakpoint, 2);

			// If breakpoint (query) width is >= the contain width...
			@if $query >= $contain-width {
				// Do only once...
				@if $count == 1 {
					// Include the corresponding breakpoint...
					@include breakpoint($name) {
						max-width: $query; // Width the max width set to the current breakpoint width (query)
						margin-right: auto;
						margin-left: auto;
						padding-right: 0;
						padding-left: 0;
					}
				$count: $count + 1;
				}
			}
		}
	}
}

/**
 * Contain padding
 */

%u-containPadding {
	@if $oldie {
		// Fixed width for oldies
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
	@else {
		padding-right: $contain-offset;
		padding-left: $contain-offset;
	}
}

/**
 * Contain copy text
 */

.u-containCopy,
%u-containCopy {
	max-width: $contain-width-copy;
}
