/* ==========================================================================
   Contain(er) utilities
   ========================================================================== */

/* Page/section container */

.u-container,
%u-container {
	@if $oldie {
		// Fixed width for oldies
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
	@else {
		padding-right: $contain-offset;
		padding-left: $contain-offset;

		// Only output for first match (count)!
		$count: 1;
		@each $breakpoint in $breakpoints {
			$name: nth($breakpoint, 1);
			$query: nth($breakpoint, 2);

			// If breakpoint (query) width is >= the contain width...
			@if $query < $contain-width {

			}

			// If breakpoint (query) width is >= the contain width...
			@if $query >= $contain-width {
				// Do only once...
				@if $count == 1 {
					// Include the corresponding breakpoint...
					@include breakpoint($name) {
						margin-right: auto;
						margin-left: auto;
						padding-right: 0;
						padding-left: 0;
						// Width the max width set to the current breakpoint width (query)
						@include rem(max-width,($query - 4em));
					}
				$count: $count + 1;
				}
			}
		}
	}
}

/* Containt padding */

%u-containPadding {
	padding-right: $contain-offset;
	padding-left: $contain-offset;
}

%u-containPaddingLeft {
	padding-left: $contain-offset;
}

%u-containPaddingRight {
	padding-right: $contain-offset;
}

/* Containt margin */

%u-containMargin {
	margin-right: $contain-offset;
	margin-left: $contain-offset;
}

%u-containMarginLeft {
	margin-left: $contain-offset;
}

%u-containMarginRight {
	margin-right: $contain-offset;
}

/* Containt copy (body) text */

%u-containtCopy {
	max-width: $contain-width-copy;
}
