/* ==========================================================================
   Spacing utilities (https://github.com/suitcss/utils-dimension)
   ========================================================================== */

/**
 * Vertical rhythm spacing
 *
 * Trailer spacing = bottom margin
 * Leader spacing = top margin
 * Rhythm spacing = top + bottom margins
 */

.u-spaceTrailerXS,
%u-spaceTrailerXS { @include margin-trailer(.5); }
%u-spaceTrailerS  { @include margin-trailer(.75); }
%u-spaceTrailerM  { @include margin-trailer(1); }
%u-spaceTrailerL  { @include margin-trailer(1.5); }
%u-spaceTrailerXL { @include margin-trailer(2); }

%u-spaceLeaderXS  { @include margin-leader(.5); }
%u-spaceLeaderS   { @include margin-leader(.75); }
%u-spaceLeaderM   { @include margin-leader(1); }
%u-spaceLeaderL   { @include margin-leader(1.5); }
%u-spaceLeaderXL  { @include margin-leader(2); }

%u-spaceRhythmXS  { @include rhythm-margins(.5); }
%u-spaceRhythmS   { @include rhythm-margins(.75); }
%u-spaceRhythmM   { @include rhythm-margins(1); }
%u-spaceRhythmL   { @include rhythm-margins(1.5); }
%u-spaceRhythmXL  { @include rhythm-margins(2); }

/**
 * Default spacing for between components,
 * based on $spacing-unit (also used by grid).
 * Use with great care!
 *
 * A = all
 * T = top
 * R = right
 * B = bottom
 * L = left
 * H = horizontal
 * V = vertical
 *
 * n = none
 * s = small
 * m = medium
 * l = large
 */

/* Reset (or zero) spacing */

%u-spaceAn { margin: 0 !important; }
%u-spaceVn { margin-top: 0 !important; margin-bottom: 0 !important; }
%u-spaceTn { margin-top: 0 !important; }
%u-spaceRn { margin-right: 0 !important; }
%u-spaceBn { margin-bottom: 0 !important; }
%u-spaceLn { margin-left: 0 !important; }

/* Extra small spacing */

%u-spaceAxs { margin: $x-small !important; }
%u-spaceVxs { margin-top: $x-small !important; margin-bottom: $x-small !important; }
%u-spaceTxs { margin-top: $x-small !important; }
%u-spaceRxs { margin-right: $x-small !important; }
%u-spaceBxs { margin-bottom: $x-small !important; }
%u-spaceLxs { margin-left: $x-small !important; }

/* Small spacing */

%u-spaceAs { margin: $small !important; }
%u-spaceVs { margin-top: $small !important; margin-bottom: $small !important; }
%u-spaceTs { margin-top: $small !important; }
%u-spaceRs { margin-right: $small !important; }
%u-spaceBs { margin-bottom: $small !important; }
%u-spaceLs { margin-left: $small !important; }

/* Medium spacing */

%u-spaceAm { margin: $med !important; }
%u-spaceVm { margin-top: $med !important; margin-bottom: $med !important; }
%u-spaceTm { margin-top: $med !important; }
%u-spaceRm { margin-right: $med !important; }
%u-spaceBm { margin-bottom: $med !important; }
%u-spaceLm { margin-left: $med !important; }

/* Large spacing */

%u-spaceAl { margin: $large !important; }
%u-spaceVl { margin-top: $large !important; margin-bottom: $large !important; }
%u-spaceTl { margin-top: $large !important; }
%u-spaceRl { margin-right: $large !important; }
%u-spaceBl { margin-bottom: $large !important; }
%u-spaceLl { margin-left: $large !important; }

/* Extra large spacing */

%u-spaceAxl { margin: $x-large !important; }
%u-spaceVxl { margin-top: $x-large !important; margin-bottom: $x-large !important; }
%u-spaceTxl { margin-top: $x-large !important; }
%u-spaceRxl { margin-right: $x-large !important; }
%u-spaceBxl { margin-bottom: $x-large !important; }
%u-spaceLxl { margin-left: $x-large !important; }
