/* ==========================================================================
   Alert (message (Alert and box)
   ========================================================================== */

/**
 * Alert
 */

.Alert {
	position: relative;
	z-index: 100;
	display: block;
	overflow: hidden;
	margin-bottom: $med;
	padding: $med;
	width: 100%;
	border: $x-small solid;
	background: $alert-default-color;
	color: $text-color;
}

/**
 * Inline alert
 */

.Alert--inline {
	border-color: $gray-3;
	border-radius: $border-radius;
}

/**
 * Bar alert
 */

.Alert--bar {
	border: none;
	border-bottom: $x-small solid;

	// Set animation
	&.js-alertAnim {
		transition: transform .64s ease-out;

		@include breakpoint(medium) {
			position: fixed;
			transform: translateY(-100%);
			left: 0;
		}
	}
	// Show animation
	&.js-alertAnim--show {
		display: block;

		@include breakpoint(medium) {
			transform: translateY(0);
		}
	}
	// Hide animation
	&.js-alertAnim--hide {
		display: none;

		@include breakpoint(medium) {
			display: block;
			transform: translateY(-100%);
		}
	}
}

/**
 * Model alert
 */

.Alert--modal {
	position: fixed;
	top: 10%;
	left: 25%;
	z-index: 9999;
	padding: $med;
	width: 50%;

	.csstransforms & {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	// Set animation
	&.js-alertAnim {
		opacity: 0;
		transition: opacity .24s ease-out;
	}
	// Show animation
	&.js-alertAnim--show {
		opacity: 1;

		@if $oldie {
			display: block;
		}
	}
	// Hide animation
	&.js-alertAnim--hide {
		opacity: 0;
		z-index: -1;

		@if $oldie {
			display: none;
		}
	}
}

/**
 * The alert message
 */

.Alert-message {
	padding-right: $large;

	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

/**
 * Close alert ('times' text icon)
 */

.Alert-close {
	@extend %u-linkPseudo;

	position: absolute !important;
	top: $med;
	right: $med;
	display: block;
}

/**
 * Alert functions
 */

.Alert---succes {
	border-color: shade($alert-succes-color,8%);
	background-color: tint($alert-succes-color,88%);
	color: $alert-succes-color;
}

.Alert--error {
	border-color: shade($alert-error-color,8%);
	background-color: tint($alert-error-color,88%);
	color: $alert-error-color;
}

.Alert--warning {
	border-color: shade($alert-warning-color,8%);
	background-color: tint($alert-warning-color,88%);
	color: $alert-warning-color;
}

.Alert--info {
	border-color: shade($alert-info-color,8%);
	background-color: tint($alert-info-color,88%);
	color: $alert-info-color;
}
