/* ==========================================================================
   Backdrop utilities
   ========================================================================== */

/**
 * Backdrop
 */

.Backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	background: rgb-alpha($backdrop-color,.60);

	@if $oldie {
		filter: alpha(opacity = 60);
	}

	// Animation
	&.js-backdrop {
		opacity: 0;
		transition: opacity .24s ease-out;
	}
	&.is-visible {
		opacity: 1;
	}
	&.is-hidden {
		opacity: 0;
		z-index: -1;
	}
}
