/* ==========================================================================
   ContentInfo (aka site footer)
   ========================================================================== */

.ContentInfo {
	@extend %u-container;

	margin-top: 0;

	.ctm & {
		margin-top: $large;
	}
	footer {
		padding: $large 0;
	}
}
