/* ==========================================================================
   Contentinfo (aka site footer)
   ========================================================================== */

.ContentInfo {
	margin-top: $large;
	padding-top: $med;
	padding-bottom: $med;
}
