/* ==========================================================================
   Grid sizes (dev dependency: _grid-sizes.scss system partial)
   ========================================================================== */

/**
 * Responsive grid sizes
 */

/* Small and up */

@include grid-sizes("small", 2); // .u-size1of2--compact, etc.
@include grid-sizes("small", 3); // .u-size1of3--compact, etc.

/* Compact and up */

@include grid-sizes("compact", 2); // .u-size1of2--compact, etc.
@include grid-sizes("compact", 3); // .u-size1of2--compact, etc.
@include grid-sizes("compact", 4); // .u-size1of2--compact, etc.

/* Medium and up */

@include grid-sizes("medium", 4); // .u-size1of4--medium, etc.

/* Large and up */

@include breakpoint("large") { // Golden 4 column set
	.u-sizeGoldenCol1of4--large {
		width: column-span(1, 1, ratio($golden, 4, "large")) !important;
		@if $oldie { width: column-span(1, 1, ratio($golden, 4, "large")) - (percentage(($grid-gutter)/$break-large) + .025%) !important; }
	}
	.u-sizeGoldenCol2of4--large {
		width: column-span(1, 4, ratio($golden, 4, "large")) !important;
		@if $oldie { width: column-span(1, 4, ratio($golden, 4, "large")) - (percentage(($grid-gutter)/$break-large) + .025%) !important; }
	}
	.u-sizeGoldenCol3of4--large {
		width: column-span(1, 3, ratio($golden, 4, "large")) !important;
		@if $oldie { width: column-span(1, 3, ratio($golden, 4, "large")) - (percentage(($grid-gutter)/$break-large) + .025%) !important; }
	}
	.u-sizeGoldenCol4of4--large {
		width: column-span(1, 2, ratio($golden, 4, "large")) !important;
		@if $oldie { width: column-span(1, 2, ratio($golden, 4, "large")) - (percentage(($grid-gutter)/$break-large) + .025%) !important; }
	}
}
