/* ==========================================================================
   Masthead (logo)
   ========================================================================== */

.Masthead {
	@extend %grunt-logo;
	@extend %u-container;

	display: block;
	float: left;
	width: 144px;
	height: 48px;
}

h1.Masthead {
	@extend %u-isHiddenText;
}
