/* ==========================================================================
   Multi-figure
   ========================================================================== */

/**
 * Figure with multiple images, placed in a grid
 *
 * Markup example:
 * <div class="MultiFigure">
 *   <figure>
 *     <img ... />
 *   </figure>
 *   <figure class="MultiFigure-row">
 *     <img ... class="Mf-image--w-1-2"/>
 *     <img ... class="Mf-image--w-1-2"/>
 *   </figure>
 *   <figure>
 *     <img ... />
 *   </figure>
 *   <figure class="MultiFigure-row">
 *     <img ... class="Mf-image--w-1-3"/>
 *     <img ... class="Mf-image--w-1-3"/>
 *     <img ... class="Mf-image--w-1-3"/>
 *   </figure>
 * </div>
 */

 /* Multi-figure container */

.MultiFigure {

	> figure > img {
		padding-bottom: $grid-gutter-percentage;
	}
}

/* Multi-figure item */

.MultiFigure-item {
	@extend %u-cf;

	margin-left: -$grid-gutter-percentage;

	> img {
		float: left;
		padding: 0 0 $grid-gutter-percentage $grid-gutter-percentage;
	}
	> figcaption {
		clear: left;
		margin-left: $grid-gutter-percentage;
	}
}

/* Multi-figure image */

.MultiFigure-image {
	width: 100%;
}

.MultiFigure-image--clear {
	clear: left;
}
