/* ==========================================================================
   Nav component

   Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
   ========================================================================== */

/**
 * Simple stacked (vertical) navigation
 *
 * Example HTML:
 * <nav>
 *   <ul>
 *     <li class="Nav-item"><a href="">link item 1</a></li>
 *     <li class="Nav-item"><a href="">link item 2</a></li>
 *   </ul>
 * </nav>
 */

// .Nav { }

.Nav-item {
	display: list-item;

	> a {
		display: block;
	}

	@include breakpoint(medium) {
		&,
		> a { /* Horizontal nav */
			display: inline-block;
		}
	}
}

/**
 * Responsive horizontal/stacked (main) navigation
 *
 * Example HTML:
 * <div class="NavWrapper"
 *   <nav class="NavMain">
 *     <ul>
 *       <li class="NavMain-item"><a href="">link item 1</a></li>
 *       <li class="NavMain-item"><a href="">link item 2</a></li>
 *     </ul>
 *   </nav>
 * </div>
 */

/* Nav wrapper */

.NavWrapper {
	position: relative;
	width: 100%;
	background-color: tint($gray-2,80%);

	.ctm & {
		position: fixed;
		top: 0;
		height: 100%;
		overflow: auto;
	}
	.js.ctm & {
		display: none;

		&.js-isOpen {
			display: block;
		}

	}
}

.NavWrapper--basic {
	.ctm & {
		position: relative;
		height: auto;
		overflow: visible;
		z-index: 2;
	}
}

/* Main nav */

.NavMain {
	position: relative;

	.js.ctm &.js-isOpen {
		min-height: 100%;
	}
}

/* Stacked (vertical) nav */

.NavMain-item {
	display: list-item;
	border-bottom: .1em solid $white;

	> a {
		display: block;
		padding: $med;
		color: $black;

		&:hover {
			background-color: $link-color;
			color: $white;
		}
	}

	@include breakpoint(medium) {
		margin-bottom: 0;
		border-bottom: 0;

		&,
		> a { /* Horizontal nav */
			display: inline-block;
		}
	}
}

/* Main nav toggle
   ========================================================================== */

.NavMainToggle {
	@extend %u-isHiddenText;

	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 44pt; /* Touch target sizes: http://j.mp/XJm4uJ */
	height: 44pt; /* Use padding, or width/height to position icon, so it works nicely on touchdevices */
	background-position: 50% 50%;
	background-color: $gray-3;

	.ctm & {
		position: fixed;
	}
}

 .ctm .NavMainToggle--basic {
	position: absolute;
}

.NavMainToggle--open {
	@extend %grunt-icon-menu;
}

.NavMainToggle--close {
	@extend %grunt-icon-close;
	visibility: hidden;

	.ctm & {
		visibility: visible;
	}
}
