/* ==========================================================================
   Nav component

   Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
   ========================================================================== */

/**
 * Simple stacked (vertical) navigation
 *
 * Example HTML:
 * <nav>
 *   <ul>
 *     <li class="Nav-item"><a href="">link item 1</a></li>
 *     <li class="Nav-item"><a href="">link item 2</a></li>
 *   </ul>
 * </nav>
 */

// .Nav { }

.Nav-item {
	display: list-item;

	> a {
		display: block;
	}

	@include breakpoint(medium) {
		&,
		> a { /* Horizontal nav */
			display: inline-block;
		}
	}
}

/**
 * Responsive horizontal/stacked (main) navigation
 *
 * Example HTML:
 * <div class="NavWrapper"
 *   <nav class="NavMain">
 *     <ul>
 *       <li class="NavMain-item"><a href="">link item 1</a></li>
 *       <li class="NavMain-item"><a href="">link item 2</a></li>
 *     </ul>
 *   </nav>
 * </div>
 */

/* Nav wrapper */

.NavWrapper {
	@include breakpoint(compact,max) {
		position: relative;
		top: 0;
		width: 100%;
	}
	@include breakpoint(medium) {
		float: right;
		margin-right: $contain-offset;
	}
}

/* Main nav */

.NavMain {
	z-index: 4;
	overflow: hidden;
	margin-bottom: $large;
	max-height: 0;
	transition: max-height .32s ease-in-out;

	@include breakpoint(medium) {
		max-height: none;
		margin-top: $large;
	}

	/*
	 * For Opera Mini
	 * Place nav-main off screen, otherwise it doesn't work!
	 */

	.no-csstransitions & {
		@include breakpoint(compact,max) {
			position: absolute;
			margin-top: -50em;
		}
	}
}

/* Stacked (vertical) nav */

.NavMain-item {
	display: list-item;
	margin-bottom: 1px;

	> a {
		display: block;
		padding: $med;
		background-color: tint($gray-2,80%);
		color: $black;

		&:hover {
			background-color: $link-color;
			color: $white;
		}
	}

	@include breakpoint(medium) {
		margin-bottom: 0;

		&,
		> a { /* Horizontal nav */
			display: inline-block;
		}
		> a {
			padding: 0;
			background-color: transparent;

			&:hover {
				background-color: transparent;
				color: $link-color;
			}
		}
	}
}

/* Main nav toggle
   ========================================================================== */

.NavMainToggle {
	@extend %u-containPaddingRight;

	position: absolute;
	right: 0;
	// margin-top: $med;

	@include breakpoint(medium) {
		display: none;
	}
}

.NavMainToggle-item {
	background-position: 100% 0%;
	@extend .grunt-icon-menu;
}

/* Nav open and close links for expanding navigation with :target */

.NavMainToggle-open a,
.NavMainToggle-close a {
	@extend %u-isHiddenText;

	display: block;
	width: 44pt; /* Touch target sizes: http://j.mp/XJm4uJ */
	height: 44pt; /* Use padding, or width/height to position icon, so it works nicely on touchdevices */
}

.NavMainToggle-open a {
	position: relative;
	z-index: 3;
}

.NavMainToggle-close a {
	position: absolute;
	bottom: 0;
}

#nav:target ~ .NavMainToggle .NavMainToggle-close a {
	z-index: 6;
}

/* Display and hide the nav with :target */

#nav:target {
	max-height: 50em; /* Should be high enough to vertically fit all nav items! */
	z-index: 5;

	/* For Opera Mini */

	@include breakpoint(compact,max) {
		position: static; /* Place nav *on* screen. Makes sure this works in Opera mini */
		margin-top: 0;
	}
}
