/* ==========================================================================
   Nav component

   Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
   ========================================================================== */

/**
 * Simple stacked (vertical) navigation
 *
 * Example HTML:
 * <nav>
 *   <ul>
 *     <li class="Nav-item"><a href="">link item 1</a></li>
 *     <li class="Nav-item"><a href="">link item 2</a></li>
 *   </ul>
 * </nav>
 */

// .Nav { }

.Nav-item {
	display: list-item;

	> a {
		display: block;
	}

	// @include breakpoint(medium) {
	// 	&,
	// 	> a { /* Horizontal nav */
	// 		display: inline-block;
	// 	}
	// }
}

/**
 * Responsive horizontal/stacked (main) navigation
 *
 * Example HTML:
 * <div class="NavMain"
 *   <nav class="NavMain-list">
 *     <ul>
 *       <li class="NavMain-item"><a href="">link item 1</a></li>
 *       <li class="NavMain-item"><a href="">link item 2</a></li>
 *     </ul>
 *   </nav>
 * </div>
 */

/* Nav main (wrapper) */

.NavMain {
	position: relative;
	margin-top: $large;
	width: 100%;
	background-color: rgb-alpha($black,.96);

	.ctm & {
		position: fixed;
		top: 0;
		display: none;
		overflow-y: auto;
		margin-top: 0;
		height: 100%;
	}
	.is-openMainNav & {
		display: block;
	}
}

.is-openMainNav {
	overflow: hidden;
}

/* Main nav (list) */

.NavMain-list {
	padding: $large $contain-offset;

	.ctm & {
		padding-top: 1.5 * $x-large;
		padding-bottom: 1.5 * $x-large;
		min-height: 100%;
		max-width: 100%;
	}
	.is-openMainNav & {}
}

/* Stacked (vertical) nav */

.NavMain-item {
	display: list-item;
	border-bottom: .1em solid $gray-1;

	&:last-child {
		border: none;
	}
	> a {
		@include rhythm-padding(.5);

		display: block;
		color: $white;

		&:hover {
			color: $gray-3;
		}
	}

	// @include breakpoint(medium) {
	// 	margin-bottom: 0;
	// 	border-bottom: 0;

	// 	&,
	// 	> a { /* Horizontal nav */
	// 		display: inline-block;
	// 		padding-left: $med;
	// 		padding-right: $med;
	// 	}
	// }
}

/**
 * Main nav toggle
 */

.NavMainToggle {
	@extend %u-isHiddenText;

	position: absolute;
	top: $med;
	right: $contain-offset;
	display: block;
	width: 44pt; /* Touch target sizes: http://j.mp/XJm4uJ */
	height: 44pt; /* Use padding, or width/height to position icon, so it works nicely on touchdevices */
	background-position: 50% 50%;
}

.NavMainToggle--open {
	@extend %grunt-icon-menu;

	.ctm & {}
}

.NavMainToggle--close {
	@extend %grunt-icon-close;

	display: none;

	.ctm & {
		display: block;
	}
}
