/* ==========================================================================
   Horizontal ruler component
   ========================================================================== */

/**
 * Extends 'hr'.
 * Demo: jsfiddle.net/inuitcss/L6GuZ
 */

%Ruler {
	@include margin-trailer(1);

	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid; /* Vertical rhytm bottom margin */
	color: $border-color; /* Sets border color in variables */
}

/* Dotted rules */

%Ruler--dotted {
	border-bottom-style: dotted;
}

/* Dashed rules */

%Ruler--dashed {
	border-bottom-style: dashed;
}

/* Ornamental rules. Places a § over the rule. */

%Ruler--ornament {
	position: relative;
	overflow: visible; /* Makes sure :after content is shown */

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		content: "§";
		text-align: center;
		line-height: 0;
	}

	/**
	 * Pass in an arbitrary ornament though a data attribute, e.g.:
	 * <hr class="rule  rule--ornament" data-ornament="!">
	 */

	&[data-ornament]:after {
		content: attr(data-ornament);
	}
}

/* Activate horizontal ruler via @extend */

hr {
	@extend %Ruler;
	@extend %Ruler--dotted;
}
