/* ==========================================================================
   Vertical grid component
   ========================================================================== */

/**
 * Distribute elements evenly and vertically within the browser window height
 * Needs jQuery.min.js
 */

.VerticalGrid {
	position: fixed;
	right: 0;
	top: 0;
	width: .5em;
	height: 100%;
}

.VerticalGrid-item {
	background: $gray-2;
	border-bottom: 2px solid $white;
}
