/* ==========================================================================
   Base
   ========================================================================== */

/**
 * Enable automatic content scaling in IE 10, see: http://j.mp/TT6lHf
 * In Metro IE10 snap mode works most of the time correct when using: "width: device-width;",
 * but it doesn't always work as meant on Windows Phone 8 (e.g. Nokia Lumia 820).
 * To fix this issue on Windows Phone 8 for now see: http://trentwalton.com/?p=5994
 */

@viewport { width: device-width; }

/**
 * Apply a natural box layout model to all elements
 * See post Paul Irish: http://paulirish.com/2012/box-sizing-border-box-ftw/
 * Add IE7 polyfill (in ie.scss) to every assigend box-sizing element
 */

*,*::before,*::after {
	box-sizing: border-box;
}

/* Text selection (no text-shadow: http://twitter.com/miketaylr/status/12228805301) */

::selection {
	background: rgb-alpha($text-selection-color,.8);
	color: $white;
	text-shadow: none;
}

/**
 * Base typography (global, no scope)
 */

html {
	@include sans-font(400);

	min-height: 100%;
	background-color: $page-color;
	color: $text-color;
	font-size: percentage($font-size-small/$base-font-size);
	line-height: $line-height-small;

	/* Adjust font sizes for different breakpoints */

	@include breakpoint(compact) {
		font-size: percentage($font-size-compact/$base-font-size);
		line-height: $line-height-compact;
	}
	@include breakpoint(medium) {
		font-size: percentage($font-size-medium/$base-font-size);
		line-height: $line-height-medium;
	}
	@include breakpoint(large) {
		font-size: percentage($font-size-large/$base-font-size);
		// font-size: $font-size-large;
		line-height: $line-height-large;
	}
	@include breakpoint(wide) {
		font-size: percentage($font-size-wide/$base-font-size);
		line-height: $line-height-wide;
	}
	@include breakpoint(huge) {
		font-size: percentage($font-size-huge/$base-font-size);
		line-height: $line-height-huge;
	}
}

/**
 * Resets all headings to look like normal text
 * Styled within 'copy' scope
 */

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
}

/**
 * Reset links
 */

a {
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
}

/**
 * Reset lists
 * Styled within 'copy' scope
 */

ol,
ul,
dl,
dd {
	margin: 0;
	padding: 0;
}

/**
 * Reset list items back to normal (block) display. This makes it possible to
 * use lists for semantic markup without needing to set this each time. Lists
 * only look like ‘lists’ in blocks of copy.
 */

li {
	display: block;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/**
 * Reset block text
 */

p,
blockquote {
	margin: 0;
}

/**
 * Reset inline elements
 */

i,
em,
cite {
	font-style: inherit;
}

b,
strong,
th {
	font-weight: inherit;
}

/**
 * Remove the gap between images, videos, audio and canvas and the bottom
 * of their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}


/* Disable hover and pointer events
 * This is set with JS, on scroll, and removed after a timeout
 * For info, see: http://www.thecssninja.com/javascript/pointer-events-60fps)
 */

// .js-disableHover,
// .js-disableHover * {
// 	pointer-events: none !important;
// }

