/* ==========================================================================
   IE < 9 styles
   ========================================================================== */


// --------------------------------------------------------------------------
// Output IE specific styles
// --------------------------------------------------------------------------

$oldie: true;

// --------------------------------------------------------------------------
// Breakpoints to output (none)
// --------------------------------------------------------------------------

// Inlcude all media queries up to and including 'large' breakpoint

$breaks: "small", "compact", "medium", "large";

// --------------------------------------------------------------------------
// System
// --------------------------------------------------------------------------

@import "system/*";

// --------------------------------------------------------------------------
// Base
// --------------------------------------------------------------------------

@import "vendor/normalize-oldie";
@import "base";

// --------------------------------------------------------------------------
// Utilities
// --------------------------------------------------------------------------

@import "utilities/*";

// --------------------------------------------------------------------------
// Components
// --------------------------------------------------------------------------

@import "components/**/*";

// --------------------------------------------------------------------------
// Grunticon
// --------------------------------------------------------------------------

// PNG fall-back for IE8 (no SVG support!)

@import "grunticon/fallback-png.scss";

// --------------------------------------------------------------------------
// Oldie message
// --------------------------------------------------------------------------

.OldieMessage {
	display: block;
	padding: 95px 1em 1em 1em;
	background: $gray-3;
	border: gray;
	color: $black;

	a {
		text-decoration: underline;
		color: black;
	}
}
