/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Default styles
 */

.Copy table,
.Table {
	@include rhythm(margin-bottom);

	width: 100%;

	th,
	td {
		@include rhythm(padding-top, .5);
		@include rhythm(padding-bottom, .5);

		text-align: left;
	}

	/* Table head */

	th {
		@extend %u-alignMiddle;

		font-weight: inherit;
		// white-space: nowrap
	}

	/* Table cell */

	td {
		@extend %u-alignTop;
	}

	/* Table footer */

	tfoot {
		font-style: italic;
	}

	/* Cell alignments */

	[colspan] {
		text-align: center;
	}
	[colspan="1"] {
		text-align: left;
	}
	[rowspan] {
		@extend %u-alignMiddle;
	}
	[rowspan="1"] {
		@extend %u-alignTop;
	}

}

.Table-numerical {
	text-align: right;
}


/**
 * Striped tables
 */

.Copy table,
.Table--striped {
	th,
	td {
		@include rhythm(padding, .5);
	}
	th {
		background-color: $color-base-black;
		color: $color-base-white;
	}
	th + th,
	td + td {
		border-left: .125em solid $color-base-white;
	}

	/* Zebra-striping */

	tbody {
		tr:nth-child(even) td {
			background-color: $color-gray-m-light;
		}
		tr:hover td {
			background-color: $color-base-black;
			color: $color-base-white;
		}
	}

}

/**
 * Rounded corners
 */

.Table--rounded {

	thead th:first-child {
		@include rhythm(border-top-left-radius, .5);
	}

	thead th:last-child {
		@include rhythm(border-top-right-radius, .5);
	}

	tfoot td:first-child {
		@include rhythm(border-bottom-left-radius, .5);
	}

	tfoot td:last-child {
		@include rhythm(border-bottom-right-radius, .5);
	}
}

/**
 * Bordered tables
 */

.Table--bordered {
	th,
	td {
		@include rhythm(padding-top, .5);
		@include rhythm(padding-bottom, .5);

		border: .125em solid $color-gray-m-light;

		&:empty {
			border:none;
		}
	}

	thead th {
		border-bottom-width: 2px;
		border-bottom-color: $color-base-black;
	}

	tfoot tr {
		border-top-width: 2px;
	}
}
