/* ==========================================================================
   Spacing (https://github.com/suitcss/utils-dimension)
   ========================================================================== */

/**
 * Vertical rhythm spacing
 *
 * Trailer spacing = bottom margin
 * Leader spacing = top margin
 * Rhythm spacing = top + bottom margins
 */

%u-spaceTrailerXS { @include rhythm(margin-bottom, .25 !important); }
%u-spaceTrailerS  { @include rhythm(margin-bottom, .5 !important); }
%u-spaceTrailerM  { @include rhythm(margin-bottom, 1 !important); }
.u-spaceTrailerM  { @extend %u-spaceTrailerM; }
%u-spaceTrailerL  { @include rhythm(margin-bottom, 2 !important); }
%u-spaceTrailerXL { @include rhythm(margin-bottom, 4 !important); }

%u-spaceLeaderXS  { @include rhythm(margin-top, .25 !important); }
%u-spaceLeaderS   { @include rhythm(margin-top, .5 !important); }
%u-spaceLeaderM   { @include rhythm(margin-top, 1 !important); }
%u-spaceLeaderL   { @include rhythm(margin-top, 2 !important); }
%u-spaceLeaderXL  { @include rhythm(margin-top, 4 !important); }

%u-spaceRhythmXS  { @include rhythm(margin-top, .25 !important); @include rhythm(margin-bottom, .25 !important); }
%u-spaceRhythmS   { @include rhythm(margin-top, .5 !important); @include rhythm(margin-bottom, .5 !important); }
%u-spaceRhythmM   { @include rhythm(margin-top, 1 !important); @include rhythm(margin-bottom, 1 !important); }
%u-spaceRhythmL   { @include rhythm(margin-top, 2 !important); @include rhythm(margin-bottom, 2 !important); }
%u-spaceRhythmXL  { @include rhythm(margin-top, 4 !important); @include rhythm(margin-bottom, 4 !important); }

/**
 * Default spacing for between components,
 * based on $spacing-unit (also used by grid).
 * Use with great care!
 *
 * A = all
 * T = top
 * R = right
 * B = bottom
 * L = left
 * H = horizontal
 * V = vertical
 *
 * n = none
 * s = small
 * m = medium
 * l = large
 */

/* Reset (or zero) spacing */

%u-spaceAn { margin: 0 !important; }
%u-spaceVn { margin-top: 0 !important; margin-bottom: 0 !important; }
%u-spaceTn { margin-top: 0 !important; }
%u-spaceRn { margin-right: 0 !important; }
%u-spaceBn { margin-bottom: 0 !important; }
%u-spaceLn { margin-left: 0 !important; }

/* Extra small spacing */

%u-spaceAxs { @include rhythm(margin, .25 !important); }
%u-spaceVxs { @include rhythm(margin-top, .25 !important); @include rhythm(margin-bottom, .25 !important); }
%u-spaceTxs { @include rhythm(margin-top, .25 !important); }
%u-spaceRxs { @include rhythm(margin-right, .25 !important); }
%u-spaceBxs { @include rhythm(margin-bottom, .25 !important); }
%u-spaceLxs { @include rhythm(margin-left, .25 !important); }

/* Small spacing */

%u-spaceAs { @include rhythm(margin, 2 !important); }
%u-spaceVs { @include rhythm(margin-top, 2 !important); @include rhythm(margin-bottom, 2 !important); }
%u-spaceTs { @include rhythm(margin-top, 2 !important); }
%u-spaceRs { @include rhythm(margin-right, 2 !important); }
%u-spaceBs { @include rhythm(margin-bottom, 2 !important); }
%u-spaceLs { @include rhythm(margin-left, 2 !important); }

/* Medium spacing */

%u-spaceAm { @include rhythm(margin, 4 !important); }
%u-spaceVm { @include rhythm(margin-top, 4 !important); @include rhythm(margin-bottom, 4 !important); }
%u-spaceTm { @include rhythm(margin-top, 4 !important); }
%u-spaceRm { @include rhythm(margin-right, 4 !important); }
%u-spaceBm { @include rhythm(margin-bottom, 4 !important); }
%u-spaceLm { @include rhythm(margin-left, 4 !important); }

/* Large spacing */

%u-spaceAl { @include rhythm(margin, 6 !important); }
%u-spaceVl { @include rhythm(margin-top, 6 !important); @include rhythm(margin-bottom, 6 !important); }
%u-spaceTl { @include rhythm(margin-top, 6 !important); }
%u-spaceRl { @include rhythm(margin-right, 6 !important); }
%u-spaceBl { @include rhythm(margin-bottom, 6 !important); }
%u-spaceLl { @include rhythm(margin-left, 6 !important); }

/* Extra large spacing */

%u-spaceAxl { @include rhythm(margin, 8 !important); }
%u-spaceVxl { @include rhythm(margin-top, 8 !important); @include rhythm(margin-bottom, 8 !important); }
%u-spaceTxl { @include rhythm(margin-top, 8 !important); }
%u-spaceRxl { @include rhythm(margin-right, 8 !important); }
%u-spaceBxl { @include rhythm(margin-bottom, 8 !important); }
%u-spaceLxl { @include rhythm(margin-left, 8 !important); }
